alias df="df -h --total"
alias du="du -ch"
alias mkdir="mkdir -pv"
alias vi="vim"
alias rm="rm -v"
alias mv="mv -v"
alias cp="cp -v"
alias ln="ln -v"
alias wget="wget -c"
alias grep="command grep --color"
alias ls="command ls --color"
alias la="ls -lha --color"
alias ll="ls -lh --color"
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"
alias prettyjson='jq .'
alias prettyxml='xmllint --format -'
alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl"
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"
alias pbcopy-="head -c -1 | pbcopy"
alias docker-local="unset DOCKER_HOST DOCKER_TLS_VERIFY"
alias docker-matrix="export DOCKER_HOST=tcp://the-matrix.local:2376 DOCKER_TLS_VERIFY=1"
alias git-d='git --git-dir=$HOME/.cfg/ --work-tree=$HOME'
alias pyenv='AR=/usr/bin/ar pyenv'