export SDKMAN_DIR="~/.sdkman"
export NVM_DIR="~/.nvm"
export EDITOR='vim'
export HISTSIZE='32768';
export HISTFILESIZE="${HISTSIZE}";
export HISTCONTROL='ignoreboth';
export __P_PROJECT_PATH="~/Documents/workspace"
