export NVM_DIR="$HOME/.nvm"
export EDITOR='vim'
export HISTSIZE='32768';
export HISTFILESIZE="${HISTSIZE}";
export HISTCONTROL='ignoreboth';
export __P_PROJECT_PATH="$HOME/Documents/workspace"
export __P_MAX_DEPTH=1
export __P_POST_CMD="(git config --get remote.origin.url && (git pull --all -q || git fetch --all -q)) &> /dev/null &"
export GOPATH="$HOME/.go"
export GOROOT="${HOMEBREW_PREFIX}/opt/go/libexec"
export PYENV_VIRTUALENV_DISABLE_PROMPT=1
export GUILE_LOAD_PATH="$HOMEBREW_PREFIX/share/guile/site/3.0"
export GUILE_LOAD_COMPILED_PATH="$HOMEBREW_PREFIX/lib/guile/3.0/site-ccache"
export GUILE_SYSTEM_EXTENSIONS_PATH="$HOMEBREW_PREFIX/lib/guile/3.0/extensions"
