export SDKMAN_DIR="$HOME/.sdkman"
export NVM_DIR="$HOME/.nvm"
export EDITOR='vim'
export HISTSIZE='32768';
export HISTFILESIZE="${HISTSIZE}";
export HISTCONTROL='ignoreboth';
export __P_PROJECT_PATH="$HOME/Documents/workspace"
export __P_MAX_DEPTH=1
export __P_POST_CMD="(git config --get remote.origin.url && (git pull --all -q || git fetch --all -q)) &> /dev/null &"
export GOPATH="$HOME/.go"
export GOROOT="/usr/local/opt/go/libexec"
export PYENV_VIRTUALENV_DISABLE_PROMPT=1
export __BREW_PREFIX=$(brew --prefix)

PKG_CONFIG_PATH="/usr/local/opt/curl/lib/pkgconfig:$PKG_CONFIG_PATH"
PKG_CONFIG_PATH="/usr/local/opt/icu4c/lib/pkgconfig:$PKG_CONFIG_PATH"
PKG_CONFIG_PATH="/usr/local/opt/libffi/lib/pkgconfig:$PKG_CONFIG_PATH"
PKG_CONFIG_PATH="/usr/local/opt/ncurses/lib/pkgconfig:$PKG_CONFIG_PATH"
PKG_CONFIG_PATH="/usr/local/opt/openssl@1.1/lib/pkgconfig:$PKG_CONFIG_PATH"
PKG_CONFIG_PATH="/usr/local/opt/openssl@1.1/lib/pkgconfig:$PKG_CONFIG_PATH"
PKG_CONFIG_PATH="/usr/local/opt/postgresql@9.5/lib/pkgconfig:$PKG_CONFIG_PATH"
PKG_CONFIG_PATH="/usr/local/opt/python@3.8/lib/pkgconfig:$PKG_CONFIG_PATH"
PKG_CONFIG_PATH="/usr/local/opt/readline/lib/pkgconfig:$PKG_CONFIG_PATH"
PKG_CONFIG_PATH="/usr/local/opt/ruby/lib/pkgconfig:$PKG_CONFIG_PATH"
PKG_CONFIG_PATH="/usr/local/opt/sqlite/lib/pkgconfig:$PKG_CONFIG_PATH"
PKG_CONFIG_PATH="/usr/local/opt/zlib/lib/pkgconfig:$PKG_CONFIG_PATH"
PKG_CONFIG_PATH=$(echo -n $PKG_CONFIG_PATH | awk -v RS=: '!($0 in a) {a[$0]; printf("%s%s", length(a) > 1 ? ":" : "", $0)}')
export PKG_CONFIG_PATH

LDFLAGS="-L/usr/local/opt/binutils/lib $LDFLAGS"
LDFLAGS="-L/usr/local/opt/bzip2/lib $LDFLAGS"
LDFLAGS="-L/usr/local/opt/curl/lib $LDFLAGS"
LDFLAGS="-L/usr/local/opt/icu4c/lib $LDFLAGS"
LDFLAGS="-L/usr/local/opt/libffi/lib $LDFLAGS"
LDFLAGS="-L/usr/local/opt/mysql@5.6/lib $LDFLAGS"
LDFLAGS="-L/usr/local/opt/ncurses/lib $LDFLAGS"
LDFLAGS="-L/usr/local/opt/openssl@1.1/lib $LDFLAGS"
LDFLAGS="-L/usr/local/opt/openssl@1.1/lib $LDFLAGS"
LDFLAGS="-L/usr/local/opt/postgresql@9.5/lib $LDFLAGS"
LDFLAGS="-L/usr/local/opt/python@3.8/lib $LDFLAGS"
LDFLAGS="-L/usr/local/opt/readline/lib $LDFLAGS"
LDFLAGS="-L/usr/local/opt/ruby/lib $LDFLAGS"
LDFLAGS="-L/usr/local/opt/sqlite/lib $LDFLAGS"
LDFLAGS="-L/usr/local/opt/zlib/lib $LDFLAGS"
LDFLAGS=$(echo -n $LDFLAGS | awk -v RS=: '!($0 in a) {a[$0]; printf("%s%s", length(a) > 1 ? ":" : "", $0)}')
export LDFLAGS

CPPFLAGS="-I/usr/local/opt/binutils/include $CPPFLAGS"
CPPFLAGS="-I/usr/local/opt/bzip2/include $CPPFLAGS"
CPPFLAGS="-I/usr/local/opt/curl/include $CPPFLAGS"
CPPFLAGS="-I/usr/local/opt/icu4c/include $CPPFLAGS"
CPPFLAGS="-I/usr/local/opt/libffi/include $CPPFLAGS"
CPPFLAGS="-I/usr/local/opt/mysql@5.6/include $CPPFLAGS"
CPPFLAGS="-I/usr/local/opt/ncurses/include $CPPFLAGS"
CPPFLAGS="-I/usr/local/opt/openjdk/include $CPPFLAGS"
CPPFLAGS="-I/usr/local/opt/openssl@1.1/include $CPPFLAGS"
CPPFLAGS="-I/usr/local/opt/openssl@1.1/include $CPPFLAGS"
CPPFLAGS="-I/usr/local/opt/postgresql@9.5/include $CPPFLAGS"
CPPFLAGS="-I/usr/local/opt/readline/include $CPPFLAGS"
CPPFLAGS="-I/usr/local/opt/ruby/include $CPPFLAGS"
CPPFLAGS="-I/usr/local/opt/sqlite/include $CPPFLAGS"
CPPFLAGS="-I/usr/local/opt/zlib/include $CPPFLAGS"
CPPFLAGS=$(echo -n $CPPFLAGS | awk -v RS=: '!($0 in a) {a[$0]; printf("%s%s", length(a) > 1 ? ":" : "", $0)}')
export CPPFLAGS

MANPATH="/usr/local/opt/ack/share/man:$MANPATH"
MANPATH="/usr/local/opt/augeas/share/man:$MANPATH"
MANPATH="/usr/local/opt/autoconf/share/man:$MANPATH"
MANPATH="/usr/local/opt/autoconf@2.69/share/man:$MANPATH"
MANPATH="/usr/local/opt/awscli/libexec/man:$MANPATH"
MANPATH="/usr/local/opt/bash/share/man:$MANPATH"
MANPATH="/usr/local/opt/binutils/share/man:$MANPATH"
MANPATH="/usr/local/opt/bzip2/share/man:$MANPATH"
MANPATH="/usr/local/opt/coreutils/libexec/gnuman:$MANPATH"
MANPATH="/usr/local/opt/curl/share/man:$MANPATH"
MANPATH="/usr/local/opt/dialog/share/man:$MANPATH"
MANPATH="/usr/local/opt/diffutils/share/man:$MANPATH"
MANPATH="/usr/local/opt/emacs/share/man:$MANPATH"
MANPATH="/usr/local/opt/expect/share/man:$MANPATH"
MANPATH="/usr/local/opt/fasd/share/man:$MANPATH"
MANPATH="/usr/local/opt/file-formula/share/man:$MANPATH"
MANPATH="/usr/local/opt/findutils/libexec/gnuman:$MANPATH"
MANPATH="/usr/local/opt/gawk/libexec/gnuman:$MANPATH"
MANPATH="/usr/local/opt/gdbm/share/man:$MANPATH"
MANPATH="/usr/local/opt/gettext/share/man:$MANPATH"
MANPATH="/usr/local/opt/git/share/man:$MANPATH"
MANPATH="/usr/local/opt/git-lfs/share/man:$MANPATH"
MANPATH="/usr/local/opt/gnu-getopt/share/man:$MANPATH"
MANPATH="/usr/local/opt/gnu-indent/libexec/gnuman:$MANPATH"
MANPATH="/usr/local/opt/gnu-sed/libexec/gnuman:$MANPATH"
MANPATH="/usr/local/opt/gnu-tar/libexec/gnuman:$MANPATH"
MANPATH="/usr/local/opt/gnu-which/libexec/gnuman:$MANPATH"
MANPATH="/usr/local/opt/gnupg/share/man:$MANPATH"
MANPATH="/usr/local/opt/gnupg2/share/man:$MANPATH"
MANPATH="/usr/local/opt/gnupg@2.2/share/man:$MANPATH"
MANPATH="/usr/local/opt/gnutls/share/man:$MANPATH"
MANPATH="/usr/local/opt/gpatch/share/man:$MANPATH"
MANPATH="/usr/local/opt/gpg/share/man:$MANPATH"
MANPATH="/usr/local/opt/gpg2/share/man:$MANPATH"
MANPATH="/usr/local/opt/grep/libexec/gnuman:$MANPATH"
MANPATH="/usr/local/opt/gzip/share/man:$MANPATH"
MANPATH="/usr/local/opt/htop/share/man:$MANPATH"
MANPATH="/usr/local/opt/htop-osx/share/man:$MANPATH"
MANPATH="/usr/local/opt/icu4c/share/man:$MANPATH"
MANPATH="/usr/local/opt/java/libexec/openjdk.jdk/Contents/Home/man:$MANPATH"
MANPATH="/usr/local/opt/jq/share/man:$MANPATH"
MANPATH="/usr/local/opt/kubectl/share/man:$MANPATH"
MANPATH="/usr/local/opt/kubernetes-cli/share/man:$MANPATH"
MANPATH="/usr/local/opt/ldns/share/man:$MANPATH"
MANPATH="/usr/local/opt/less/share/man:$MANPATH"
MANPATH="/usr/local/opt/libevent/share/man:$MANPATH"
MANPATH="/usr/local/opt/libffi/share/man:$MANPATH"
MANPATH="/usr/local/opt/libfido2/share/man:$MANPATH"
MANPATH="/usr/local/opt/libgcrypt/share/man:$MANPATH"
MANPATH="/usr/local/opt/libgpg-error/share/man:$MANPATH"
MANPATH="/usr/local/opt/libidn2/share/man:$MANPATH"
MANPATH="/usr/local/opt/libmagic/share/man:$MANPATH"
MANPATH="/usr/local/opt/libpng/share/man:$MANPATH"
MANPATH="/usr/local/opt/libqrencode/share/man:$MANPATH"
MANPATH="/usr/local/opt/libssh2/share/man:$MANPATH"
MANPATH="/usr/local/opt/libtasn/share/man:$MANPATH"
MANPATH="/usr/local/opt/libtasn1/share/man:$MANPATH"
MANPATH="/usr/local/opt/lua/share/man:$MANPATH"
MANPATH="/usr/local/opt/lua@5.1/share/man:$MANPATH"
MANPATH="/usr/local/opt/lua@5.3/share/man:$MANPATH"
MANPATH="/usr/local/opt/lynx/share/man:$MANPATH"
MANPATH="/usr/local/opt/lz4/share/man:$MANPATH"
MANPATH="/usr/local/opt/lzip/share/man:$MANPATH"
MANPATH="/usr/local/opt/m4/share/man:$MANPATH"
MANPATH="/usr/local/opt/make/libexec/gnuman:$MANPATH"
MANPATH="/usr/local/opt/mc/share/man:$MANPATH"
MANPATH="/usr/local/opt/midnight-commander/share/man:$MANPATH"
MANPATH="/usr/local/opt/mysql@5.6/share/man:$MANPATH"
MANPATH="/usr/local/opt/nano/share/man:$MANPATH"
MANPATH="/usr/local/opt/ncurses/share/man:$MANPATH"
MANPATH="/usr/local/opt/node/libexec/lib/node_modules/npm/man:$MANPATH"
MANPATH="/usr/local/opt/node.js/libexec/lib/node_modules/npm/man:$MANPATH"
MANPATH="/usr/local/opt/node@14/libexec/lib/node_modules/npm/man:$MANPATH"
MANPATH="/usr/local/opt/nodejs/libexec/lib/node_modules/npm/man:$MANPATH"
MANPATH="/usr/local/opt/npm/libexec/lib/node_modules/npm/man:$MANPATH"
MANPATH="/usr/local/opt/openjdk/libexec/openjdk.jdk/Contents/Home/man:$MANPATH"
MANPATH="/usr/local/opt/openjdk@13/libexec/openjdk.jdk/Contents/Home/man:$MANPATH"
MANPATH="/usr/local/opt/openssh/share/man:$MANPATH"
MANPATH="/usr/local/opt/openssl/share/man:$MANPATH"
MANPATH="/usr/local/opt/openssl@1.1/share/man:$MANPATH"
MANPATH="/usr/local/opt/pandoc/share/man:$MANPATH"
MANPATH="/usr/local/opt/parallel/share/man:$MANPATH"
MANPATH="/usr/local/opt/pass/share/man:$MANPATH"
MANPATH="/usr/local/opt/pcre/share/man:$MANPATH"
MANPATH="/usr/local/opt/pcre1/share/man:$MANPATH"
MANPATH="/usr/local/opt/pcre2/share/man:$MANPATH"
MANPATH="/usr/local/opt/perl/share/man:$MANPATH"
MANPATH="/usr/local/opt/pipeviewer/share/man:$MANPATH"
MANPATH="/usr/local/opt/pkg-config/share/man:$MANPATH"
MANPATH="/usr/local/opt/pkgconfig/share/man:$MANPATH"
MANPATH="/usr/local/opt/pv/share/man:$MANPATH"
MANPATH="/usr/local/opt/pwgen/share/man:$MANPATH"
MANPATH="/usr/local/opt/python/libexec/pip/docs/man:$MANPATH"
MANPATH="/usr/local/opt/python3/libexec/pip/docs/man:$MANPATH"
MANPATH="/usr/local/opt/python@3.8/libexec/pip/docs/man:$MANPATH"
MANPATH="/usr/local/opt/qrencode/share/man:$MANPATH"
MANPATH="/usr/local/opt/readline/share/man:$MANPATH"
MANPATH="/usr/local/opt/redir/share/man:$MANPATH"
MANPATH="/usr/local/opt/rename/share/man:$MANPATH"
MANPATH="/usr/local/opt/rsync/share/man:$MANPATH"
MANPATH="/usr/local/opt/ruby/share/man:$MANPATH"
MANPATH="/usr/local/opt/ruby@2.7/share/man:$MANPATH"
MANPATH="/usr/local/opt/s-lang/share/man:$MANPATH"
MANPATH="/usr/local/opt/screen/share/man:$MANPATH"
MANPATH="/usr/local/opt/shellcheck/share/man:$MANPATH"
MANPATH="/usr/local/opt/sl/share/man:$MANPATH"
MANPATH="/usr/local/opt/slang/share/man:$MANPATH"
MANPATH="/usr/local/opt/sqlite/share/man:$MANPATH"
MANPATH="/usr/local/opt/sqlite3/share/man:$MANPATH"
MANPATH="/usr/local/opt/subversion/share/man:$MANPATH"
MANPATH="/usr/local/opt/svn/share/man:$MANPATH"
MANPATH="/usr/local/opt/telnet/share/man:$MANPATH"
MANPATH="/usr/local/opt/tmux/share/man:$MANPATH"
MANPATH="/usr/local/opt/tree/share/man:$MANPATH"
MANPATH="/usr/local/opt/unbound/share/man:$MANPATH"
MANPATH="/usr/local/opt/unzip/share/man:$MANPATH"
MANPATH="/usr/local/opt/vim/share/man:$MANPATH"
MANPATH="/usr/local/opt/watch/share/man:$MANPATH"
MANPATH="/usr/local/opt/wdiff/share/man:$MANPATH"
MANPATH="/usr/local/opt/wget/share/man:$MANPATH"
MANPATH="/usr/local/opt/xmlstarlet/share/man:$MANPATH"
MANPATH="/usr/local/opt/xz/share/man:$MANPATH"
MANPATH="/usr/local/opt/zlib/share/man:$MANPATH"
MANPATH="/usr/local/share/man:$MANPATH"
MANPATH="/usr/share/man:$MANPATH"
MANPATH=$(echo -n $MANPATH | awk -v RS=: '!($0 in a) {a[$0]; printf("%s%s", length(a) > 1 ? ":" : "", $0)}')
export MANPATH
