<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>89E52A0A-709B-4C73-9001-E548363AFC86</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>go</string>
			<key>text</key>
			<string>Atlassian Go</string>
			<key>url</key>
			<string>http://go/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
	<key>onlyShowEnabledInPrefs</key>
	<true/>
</dict>
</plist>
